{% extends 'base.html.twig' %}

{% block title 'Agence Lorem Ipsum' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aut dignissimos iste iure quia unde. Iste qui quo ratione sit sunt. Blanditiis dignissimos enim error iure nobis obcaecati perspiciatis, tempora.</p>
    </div>
{% endblock %}