{% extends 'base.html.twig' %}

{% block title 'Tous nos bien' %}

{% block body %}
    <div class="container mt-4">
        <h1>Tous nos biens</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aut dignissimos iste iure quia unde. Iste qui quo ratione sit sunt. Blanditiis dignissimos enim error iure nobis obcaecati perspiciatis, tempora.</p>
    </div>
{% endblock %}